.App {
  text-align: center;
}

.App__card-container {
  margin: 10px auto;
  max-width: 1200px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.App__button {
  display: inline-block;
  padding: 0.7em 2.4em;
  border: 0.1em solid black;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  color: black;
  text-align: center;
  transition: all 0.2s;
}
