.Card {
  padding: 10px;
  margin: 10px auto;
  background: rgb(255, 255, 255);
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 52%,
    rgba(204, 204, 204, 1) 100%
  );
  border-radius: 8px;
  width: 300px;
}

.Card__image {
  width: 80%;
  margin: 10px;
  border-radius: 50%;
}

.Card__button {
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid black;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: black;
  text-align: center;
  transition: all 0.2s;
}

.Card__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
